/* Account for fixed navbar */
body {
    /*padding-top: 70px;*/
    /*padding-bottom: 30px;*/
}

body,
.navbar-fixed-top,
.navbar-fixed-bottom {
    min-width: 970px;
}

.no-padding{
    padding: 0;
}

.navbar-fixed-top {
    background: red;
}

/* Don't let the lead text change font-size. */
.lead {
    font-size: 16px;
}

/* Finesse the page header spacing */
.page-header {
    margin-bottom: 30px;
}

.page-header .lead {
    margin-bottom: 10px;
}

/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
    width: 970px;
    max-width: none !important;
}

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-collapse {
    border: 0;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    padding: 15px;
}

.navbar-nav li,
.navbar-nav li.active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background: transparent;
    padding: 15px 5px;
    display: inline-block;
}

.navbar-default {
    border: 0;
    border-color: red;
    height: 80px;
    padding-top: 10px;

    -webkit-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.36s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.66);
}

.uploadSmallIcon {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../../img/home/UploadICONTiny.png") center center no-repeat;
    background-size: 15px 15px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

#section0 {
    background-color: red;
}

.navbar-nav li {
    height: 70px;
}

.nimble.section {
    /*padding-top: 70px;*/
}

.heroWrapper {
    height: 580px;
    padding-top: 70px;
}

.full-height {
    height: 100%;
}

.heroWrapper img {
    width: auto;
    height: 100%;
}

.heroBGImage {
    background: url("../../img/home/BotWithBottomShade.png") -100px -50px no-repeat;
    background-size: 65% auto;
}

.heroWrapper h1 {
    color: white;
    font-size: 50px;
}

.heroWrapper p {
    color: white;
}

.verticalCenterWrapper {
    display: table;
    height: 100%;
}

.verticalCenter {
    display: table-cell;
    /*text-align: center;*/
    vertical-align: middle;
}

.large-height {
    height: 70%;
}

.heroButtonWrap button {
    height: 50px;
    margin: 10px 5px 10px 0;
    padding: 0 20px;
    color: #ffffff;
    font-size: 17px;
    border-radius: 8px;
}

.heroButtonWrap button.btn-white {
    color: #ff0000;
    background: #ffffff;
}

.heroButtonWrap button.btn-darkRed {
    color: rgba(255, 255, 255, 0.66);
    background: #820000;
    font-weight: 200;
}

/* -- High Light -- */
.highLight {
    height: 140px;
    background: #ddd;
}

.highLight .row {
    padding: 32px 0;
}

.stepIconGroup img {
    display: block;
    clear: both;
    margin-bottom: 10px;
}

.stepIconGroup {
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
    color: #716666;
}

.highLight .col-xs-4 {
    text-align: right;
}

.highLight p {
    color: #716666;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-weight: 200;
}

/*-- feature sections --*/
#section1 {
    background: #ededed;
}
#section2 {
    background: #ededed;
}
#section3 {
    background: #ededed;
}

.featureSection1 {
    height: 550px;
}
.featureSection2 {
    height: 630px;
}
.featureSection3 {
    height: 630px;
}

.featureSection1 h1,
.featureSection3 h1 {
    padding: 30px 0;
    font-weight: 200;
    font-size: 42px;
}

.featureSection2 h1{
    font-size: 36px;
    padding: 30px 0;
    font-weight: 200;
}

.listImg {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url("../../img/home/ListIcon.png") center center no-repeat;
    background-size: 50px auto;
    margin-right: 20px;
    /*clear: both;*/
}

.featureList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.featureList li{
    margin-bottom: 30px;
}

.featureList p {
    display: inline-block;
    width: 330px;
    vertical-align: top;
    color: #716666;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.featureSection1 img{
    padding-top: 50px;
}

.featureSection2 img{
    padding-top: 50px;
}

.footer.nimble{
    height: 120px;
    background: #ffffff;
    padding: 40px 0;
}

.footer.nimble ul{
    padding-top: 20px;
}
.footer.nimble a{
    color: #a39898;
}
.footer.nimble p{
    color: #a39898;
    padding: 2px 0;
    margin: 0;
}
.footer.nimble .row{
    margin-bottom: 20px;
}
.footer.nimble a:hover,
.footer.nimble a:active{
    color: #4f4444;
    text-transform: none;
    text-decoration: none;
}